@keyframes rgbBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes typing {
  0%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    border-right: 5px solid transparent;
  }
  50% {
    border-right: 5px solid #96ee1c;
  }
}
